{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% translate "伊客拉穆商城管理系统" %}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% translate "伊客拉穆商城管理系统" %}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block welcome-msg %}
    {% translate '欢迎，' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% translate '查看网站' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate '文档' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% translate '修改密码' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% translate '退出' %}</a>
{% endblock %}